
/* ----------------------------------------------------------------- */
/* Global styling */
/* ----------------------------------------------------------------- */

:root {
    --page_background: rgb(245,245,245);
    --dark_background: rgb(50, 41, 49);
    --off_background: rgb(241, 229, 213);

    --dark: rgb(67, 73, 77);
    --full_dark: rgb(29, 38, 41);
    --more_dark: rgb(46, 51, 53);
    --less_dark: rgb(78, 88, 90);

    --light: rgb(220,220,220);
    --full_light: rgb(245,245,245);
    --more_light: rgb(235,235,235);
    --less_light: rgb(160,160,160);

    --accent_1: rgb(221, 70, 76);
    --accent_2: rgb(18, 144, 179);
    --accent_3: rgb(143, 192, 62);

    --light_shadow: rgba(0, 0, 0, 0.1);
    --medium_shadow: rgba(0, 0, 0, 0.2);
    --heavy_shadow: rgba(0, 0, 0, 0.3);
}

/* ----------------------------------------------------------------- */
/* Global page styling */

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--lightest);
    font-size: 1.0em;
}

body{
    background-color: var(--page_background);
    margin: 0;
    line-height: 1.4;
    user-select: none;
    overflow-x: hidden;
}

.panel_wrapper {
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px auto 300px;
}

.side_panel {
    display: block;
    background-color: var(--dark_background);
    color: var(--light);
}

.control_panel {
    border-left: solid 2px var(--full_dark);
    overflow-y: auto;
}

.panel_title_block {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    padding-top: 1em;
}

.content_panel_title {
    font-style: normal;
    font-size: 1.5em;
    margin-bottom: 2.5em;
}

.controls_panel_title {
    color: var(--accent_2);
}


/* ----------------------------------------------------------------- */
/* Styling for side control panel elements */

#controls_holder {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    font-size: 0.85em;
    grid-auto-rows: min-content;
}

.controls_container_title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.0em;
}

.controls_container {
    display: block;
    border-radius: 5px;
    background-color: var(--dark);
    padding: 10px;
    border: solid 2px var(--full_dark);
}

.controls_container ul {
    list-style: none;
    padding: 0;
}

/* ----------------------------------------------------------------- */
/* Configuration save button styling */

#core_right_spacer{
    display: grid;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

#core_save_button {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
    color: var(--accent_3);
    cursor: pointer;
}


/* ----------------------------------------------------------------- */
/* Styling for content/imaging area */

#display_selection_wrapper {
    display: block;
    margin-bottom: 1em;
}

#display_selection_list {
    text-align: center;
    padding: 1em;
}

#display_selection_list li {
    display: inline;
    list-style-type: none;
    padding: 1em;
    margin: 0.5em;
    background-color:  var(--dark_background);
    color: var(--light);
    border: 1px solid var(--full_dark);
}

#display_selection_list li:hover {
    background-color: var(--dark);
    color: var(--full_light);
    animation-name: display_select_hover;
    animation-duration: 0.15s;
    cursor: pointer;
}

@keyframes display_select_hover {
    from {color: var(--light); background-color: var(--dark_background);}
    to {color: var(--full_light); background-color: var(--dark);}
}

#image_centering_container {
    display:flex;
    align-items: center;
    justify-content: center;
}

#image_bordered_wrapper {
    display: inline-block;
    background-color: black;
    margin: auto;
    border: solid 1px var(--dark_background);
    box-shadow: inset 0 0 1.5em var(--heavy_shadow);
}

#image_div {
    min-width: 50px;
    min-height: 50px;
    display: inline-block;
    background-color: black;
    color: var(--light);
    margin: 0;
    padding: 0;
}

#disp_image {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    border: solid 1px black;
    box-sizing: border-box;
    box-shadow: 0 0 1.0em var(--heavy_shadow);
}

