
<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Files Changed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <style>
        {% include "shared/shared.css" %}
        {% include "fileschanged/fileschanged.css" %}
    </style>
</head>

<body>

    <!-- Generic div to hold page content. CSS for this element is stored in shared file -->
    <div class="layout_wrapper_div">

        <header>Files Changed</header>

        <!-- Container div to help arrange main elements of this page -->
        <div class="content_container_div" id="main_container">

            <!-- File change info will be loaded here dynamically! -->

        </div>

        <footer onclick="window.location.href='/'">BACK</footer>
    </div>



    
    <script>

        // Hacky method to get data passed in to javascript from flask
        const files_changed_json = {{files_changed_dict|tojson}};
        console.log("Flask Data:", files_changed_json);

        {% include "fileschanged/fileschanged.js" %}
        
    </script>
</body>
</html>