
# CV & Math libraries
numpy==1.*
opencv-python-headless==4.*
scipy==1.*

# Machine learning library (for classifiers)
sklearn==0.0

# CLI progress bar
tqdm==4.*

# Improved JSON library (compared to built-in python lib)
ujson==1.*

# Libraries for GET/POST & websocket requests
requests==2.*
websockets==8.*

# Simple web framework
Flask==1.*
Flask-Cors==3.*

# Simple web server for flask
waitress==1.*
