
{% extends "shared_layout.html" %}

<!-- Add styling specific to this page -->
{% block styling %}
    {% include "css/curate.css" %}
{% endblock %}


<!-- Add main page content -->
{% block body %}
    <h1>Curate Training Data</h1>
    <p>- Server needs to launch curation if files don't already exist</p>
    <p>- May need to provide buttons to manually re-launch curation and/or clear existing data?</p>
    <p>- Once data is available, display curated datasets in tabbed display (for each class label)</p>
    <p>- Under each tab should be tiled display of cropped images from curation</p>
    <p>- Should probably shuffle images, so there isn't a bunch of sequential (similar) frames</p>
    <p>- Need to provide user with a way to flag images for curation...</p>
    <p>- Minimally, flag should allow image to be ignored or confirmed</p>
    <p>- Confirm would set curated flag, ignore would also set curated flag and flip class label</p>
    <p>- Ideally would allow flagging to fully re-label an image, by picking from all available class labels (more complicated UI though)</p>
{% endblock %}


<!-- Add scripting specific to this page -->
{% block scripting %}
{% endblock %}