
/* ----------------------------------------------------------------- */
/* Overview page styling */
/* ----------------------------------------------------------------- */

:root {
    --page_accent: rgb(10, 55, 170);
    --page_accent_hl: rgb(15, 90, 215);
    --page_accent_text: var(--lightest);
    --page_accent_text_hl: rgb(255, 255, 255);
}

#nav_overview_btn {
    background: var(--page_accent);
    font-weight: bold;
    animation-name: none;
    color: var(--page_accent_text);
}

#nav_overview_btn:hover {
    color: var(--page_accent_text);
}


/* ----------------------------------------------------------------- */
/* Styling for overview categories */
/* ----------------------------------------------------------------- */

.overview_category_name, .overview_section_name {
    font-weight: bold;
    font-variant: small-caps;
    color: var(--page_accent_text_hl);
    font-size: 1.15em;
}

.overview_section_name {
    text-decoration: underline;
}

.overview_row_ul {
    display: grid;
    grid-gap: 20px;
    list-style: none;
    padding: 0;
}

.overview_row_li {
    padding: 1em;
    grid-row: 1;
    text-align: center;
}