
/* ----------------------------------------------------------------- */
/* Curate page styling */
/* ----------------------------------------------------------------- */

:root {
    --page_accent: rgb(170, 10, 10);
    --page_accent_hl: rgb(220, 15, 15);
    --page_accent_text: var(--lightest);
    --page_accent_text_hl: rgb(255, 255, 255);
}

#nav_curate_btn {
    background: var(--page_accent);
    font-weight: bold;
    animation-name: none;
    color: var(--page_accent_text);
}

#nav_curate_btn:hover {
    color: var(--page_accent_text);
}
