
/* ----------------------------------------------------------------- */
/* Export page styling */
/* ----------------------------------------------------------------- */

:root {
    --page_accent: rgb(0, 80, 10);
    --page_accent_hl: rgb(5, 100, 64);
    --page_accent_text: var(--lightest);
    --page_accent_text_hl: rgb(255, 255, 255);
}

#nav_export_btn {
    background: var(--page_accent);
    font-weight: bold;
    animation-name: none;
    color: var(--page_accent_text);
}

#nav_export_btn:hover {
    color: var(--page_accent_text);
}

