
  <div class="nav_wrapper">
      <!-- Navigation -->
      <nav class="main-nav">
        <ul>
          <li id="title_block_text">Classification Demo</li>
          <li><a id="nav_overview_btn" href="/">Overview</a></li>
          <li><a id="nav_label_btn" href="/label">Label</a></li>
          <li><a id="nav_curate_btn" href="/curate">Curate</a></li>
          <li><a id="nav_examine_btn" href="/examine">Examine</a></li>
          <li><a id="nav_export_btn" href="/export">Export</a></li>
        </ul>
      </nav>
  </div>