
/* ----------------------------------------------------------------- */
/* Slider styling */
/* ----------------------------------------------------------------- */

.slider_wrapper {
    display: grid;
    grid-gap: 0.5em;
    padding: 0.5em;
}

.slider_label_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.slider_label_wrapper, label {
    color: var(--less_light);
}

.slider {
    -webkit-appearance: none;
    background: var(--dark_background);
    width: 100%;
    height: 8px;
    border-radius: 5px;   
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: var(--accent_3);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--accent_3);
    cursor: pointer;
    border: 0;
  }
  